* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
}
ul li {
  list-style: none;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 100vh;
  width: 100%;
  background-color: #414141;
}

.leftSideBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px;
  width: 300px;
  height: 300px;
  overflow-y: scroll;
}
.leftSideBox::-webkit-scrollbar {
  width: 0;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #525050;
  width: 100%;
  height: 30px;
  text-align: center;
}
.headingButtom {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.headingButtom > p {
  padding: 5px;
  font-size: 0.9rem;
  background-color: #ffffff;
}

#addNewProductBtn {
  height: 30px;
  width: 100px;
  border: solid 1px;
}
#product {
  width: 100%;
  /* height: 100%; */
  height: fit-content;
}
.productList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
  font-size: 1rem;
}
.productList li {
  background-color: aliceblue;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#productQty {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aqua;
  border-radius: 15px;
  width: 90px;
  height: 30px;
}
.decrement {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: orangered;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.increment {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: orangered;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.rightSideBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px;
  height: 100%;
  width: 300px;
  height: 300px;
  overflow-y: scroll;
}

.rightSideBox::-webkit-scrollbar {
  width: 0;
}

.userSlip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: solid 1px orange;
  height: 100px;
  width: 100%;
  background-color: blueviolet;
  display: none;
  margin-top: 10px;
}
